body {
  background-color: white !important;
}

.bx.bx-home,
.bx.bx-time-five,
.bx.bx-user-circle {
  font-size: 200%;
}

.navicons {
  display: flex;
  color: black;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.login {
  margin-top: 15vh;
}

#name-goes-here {

  font-size: 5vw;
  text-align: center;
  color: #1B263B;
}

.toast #name-goes-here {
  font-size: 2vh;
}

#email-goes-here {

  font-size: 5vw;
  text-align: center;
  color: #0D1B2A !important;
}

#profilePhoto {
  background-color: #4753b3;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10vw;
  width: 20%;
  height: 20vw;
}

.toast-body {
  font-size: 2vh;
}

.timerArea {
  background-color: #ffcc00;
  height: 70vh;
  margin: 10%;
}

.card-img-overlay {
  margin-top: 5%;
}

.custom-navbar {
  background-color: white;
}

.custom-navbar .navbar-brand,
.nav-item .nav-link,
.card-title,
.card-text,
.navbar-toggler {
  color: black !important;
}

.card {
  background-color: #f4f4f4;
}

.btn-custom {
  background-color: #4753b3;
}

.card {
  border: none;
}

.start-button a {
  text-align: center;
  width: 100%;
  color: white;
}

.start-button {
  color: white;
}

.dropdown .btn-custom{
  border-color: transparent !important;
}

.dropdown .dropdown-item:hover{
  background-color: #4753b3;
  color: white;
}

.preset-timer{
  position: fixed;
  margin-top: 9rem;
  width: 90%;
  margin-left: 5%;
}

#addTimerButton{
  float:right;
  margin-right:2%;
  background-color:transparent;
  font-size: 100%;
}