.bg-info {
    background-color: #898989 !important;
}

.bx.bx-home,
.bx.bx-time-five,
.bx.bx-user-circle {
    font-size: 200%;
}

.navbar.fixed-bottom{
    border-top: 3px solid black;
}

.navbar.navbar-expand-lg{
    border-bottom: 3px solid black;
    z-index: 2;
}

.navicons{
    display: flex;
    flex-direction: row;
    color: black;
    align-items: center;
    justify-content: center;
    text-align: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}

.login{
    margin-top: 15vh;
}

.welcome-text{
    margin-bottom: 30px;
}

body{
    background-color: white;
}

.navicons{
    height: 50px;
}

.banner {
    background-color: #ffcc00;
    color: #333;
    padding: 15px;
    text-align: center;
    position: absolute; /* Absolute positioning relative to the header */
    top: -40px; /* Start hidden */
    left: 0;
    width: 100%;
    z-index: 1; /* Keep below header */
    transition: top 0.5s ease; /* Smooth transition */
  }
  
  .banner.show {
    top: 45px; /* Slide down to show */
  }
  