/* General Styles */
body {
  background-color: white !important;
}

<<<<<<< HEAD
.bx.bx-home,
.bx.bx-time-five,
.bx.bx-user-circle {
  font-size: 200%;
}

.navicons {
  display: flex;
  padding: 0;
  flex-direction: row;
  color: black;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  text-align: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
}

.login {
  margin-top: 15vh;
}

#name-goes-here {

  font-size: 5vw;
  text-align: center;
  color: #1B263B;
}

.toast #name-goes-here {
  font-size: 2vh;
}

#email-goes-here {

  font-size: 5vw;
  text-align: center;
  color: #0D1B2A !important;
}

#profilePhoto {
  background-color: #4753b3;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10vw;
  width: 20%;
  height: 20vw;
}

.toast-body {
  font-size: 2vh;
}

.timerArea {
  background-color: #ffcc00;
  height: 70vh;
  margin: 10%;
}

.card-img-overlay {
  margin-top: 5%;
}

.custom-navbar {
  background-color: #f4f4f4;
}

=======
>>>>>>> a87fbc73f3a58295074a1f66861a92736b358ca7
.custom-navbar,
.nav-item .nav-link,
.card-title,
.card-text,
.navbar-toggler {
  color: black !important;
}

/* Font Icons */
.bx.bx-home,
.bx.bx-time-five,
.bx.bx-user-circle {
  font-size: 200%;
}

/* Navbar Styles */
.custom-navbar {
  background-color: #ffffff;
}

.navicons {
  display: flex;
  flex-direction: row;
  color: black;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  padding: 0;
  text-align: center;
}

/* Login Section */
.login {
  margin-top: 15vh;
}

/* Profile & Name Display */
#name-goes-here {
  font-size: 5vw;
  text-align: center;
  color: #1B263B;
}

#email-goes-here {
  font-size: 5vw;
  text-align: center;
  color: #0D1B2A !important;
}

#profilePhoto {
  background-color: #4753b3;
  margin: 10vw auto 0 auto;
  width: 20%;
  height: 20vw;
}

/* Toast Styles */
.toast {
  position: absolute;
  top: 10px;
  right: 10px;
  min-width: 50vw; 
}

.toast-body {
  font-size: 3vw;
  display: inline;
}


.toast #name-goes-here {
  font-size: 3vw;
  display: inline;
}


/* Timer Area */
.timerArea {
  background-color: #ffcc00;
  height: 70vh;
  margin: 10%;
}

/* Card Styles */
.card {
  background-color: #f4f4f4;
  border: none;
}

.card-img-overlay {
  margin-top: 5%;
}

/* Button Styles */
.btn-custom {
  background-color: #4753b3;
}

.dropdown .btn-custom {
  border-color: transparent !important;
}

.dropdown .dropdown-item:hover {
  background-color: #4753b3;
  color: white;
}

#addTimerButton {
  float: right;
  margin-right: 2%;
  background-color: transparent;
  font-size: 100%;
}

.start-button {
  color: white;
}

.start-button a {
  text-align: center;
  width: 100%;
  color: white;
}

/* Icon Styles */
.icon-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 40px;
  border-radius: 40px;
  background-color: #417ab8;
}

.icon-circle i {
  font-size: 24px;
  color: white;
}

/* Friends Section */
.friendsArea {
  padding: 0vw;
  text-align: center;
}

.form-label-friend {
  font-size: 4vw;
}

.friends-section {
  max-width: 200vw;
  margin: 10vw auto;
  padding: 1vw;
  border: 1vw solid #417ab8;
  border-radius: 10px;
  background-color: #e0e1dd;
}

.friends-section h3 {
  margin-top: 1vw;
  background-color: #417ab8;
  color: #ffffff;
  padding: 1vw;
}

<<<<<<< HEAD
.friends-section input, .friends-section button {
=======
.friends-section input,
.friends-section button {
>>>>>>> a87fbc73f3a58295074a1f66861a92736b358ca7
  width: 100%;
}

#addFriendButton {
  background-color: #417ab8;
  color: #ffffff;
}

<<<<<<< HEAD
.list-group-item {
  padding: 1vw;
  border: 5px solid #0D1B2A;
}

.preset-hours,
.preset-minutes,
.preset-seconds {
  font-size: 300%;
  display: inline;
}

.form-check-input {
  margin-top: 52%;
}

.form-check-label {
  margin-top: 40%;
}

.preset-name {
  position: relative;
  text-align: left;
  left: 5px;
  top: 10px;
  font-size: 110%;
}

.timeContainer {
  overflow: hidden;
  white-space: nowrap;
}

.list-group-item {
  padding-top: 5%;
}
=======
/* Footer */
.navbar-brandft {
  margin-top: 5%;
  padding: none;
}

.welcome-text {
  margin-bottom: 5%;
}

/* Preset Timer */
.preset-timer {
  position: fixed;
  margin-top: 9rem;
  width: 90%;
  margin-left: 5%;
}
>>>>>>> a87fbc73f3a58295074a1f66861a92736b358ca7
